
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Moon+Dance&display=swap');
div{
    width: 24%;
    
    background-color: blue;
    border: #000000 1px solid;
    float:left;
    border-radius: 10px;


    }
    img{
        width: 75%;
        height: 100px;
        border-radius: 10px;
    }
    h2{
        text-align: center;
    }
    p{
        font-family: 'Luxurious Roman', cursive;
    }