h1{
    color: darkviolet;
}
span{
    color: deepskyblue;
}
#a{
    color: firebrick;
}
button{
    background-color: rgb(107, 9, 107);
    color: white;
    border-radius: 20px;
}
button:hover{
    background-color: white;
    color:rgb(107, 9, 107) ;
}