div{
    background-color: rgb(104, 15, 104);
    width: 100%;
    height: 30px;
    color: white;
}
#a{


    

    border: black 2px solid;
    background-color: gray;
    float: left;
}
img{
    width: 100%;
        height: 330px;
        
}
h2{
    text-align: center;
}


p{
    font-family: monospace;
}
    

